body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* app header styling */
.app-header {
  text-align: center;
}

/* container styling */
#root {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* table styling  */
table {
  width: 40%;
}

table {
  border: 1px solid black;
}

#table-header {
  text-align: center;
}

td, th, tr {
  padding: 1.25rem;
  border: 1px solid black;
}
