body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* app header styling */
.app-header {
  text-align: center;
}

/* container styling */
#root {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* create memory form */
.create-memory-form {
  text-align: center;
}

/* edit form styling */
.edit-form {
  text-align: center;
}

/* memory control component button styling */
#mem-control-btn {
  display: block;
  margin: auto;
}

/* memory detail styling */
.memory-detail {
  text-align: center;
}

/* memory list styling */
.memory-list {
  text-align: center;
}

/* message telling user to sign in  */
#sign-in-reminder {
  text-align: center;
}

/* sign in forms */
.sign-in-forms {
  text-align: center;
}

/* table styling  */

/* .row {
  border: 1px solid black;
} */

/* table {
  width: 40%;
}

table {
  border: 1px solid black;
}

.table-container {
  display: flex;
  justify-content: center;
}

#table-header {
  text-align: center;
}

td, th, tr {
  padding: 1.25rem;
  border: 1px solid black;
} */
